
<mat-drawer-container #drawerContainer class="example-container" autosize [dir]="direction">
    <mat-drawer #drawer class="example-sidenav mat-drawer-transition" [mode]="DrawerMode" opened>
        <app-side-menu (asideMenu)="drawer.toggle()" [asideMenuState]="drawer"></app-side-menu>
      </mat-drawer>
  
    <div class="drawer-content">
      
      <app-nav (asideMenu)="isAsideMenu(drawer.toggle(), drawer)"></app-nav>
      
      <main class="container">

        <app-breadcrumb></app-breadcrumb>
        
        <app-welcome></app-welcome>

        <div class="p-2">
            <router-outlet></router-outlet>
        </div>
      </main>
      <app-footer></app-footer>
    </div>
  
  </mat-drawer-container>
  