
mat-drawer-container{
    height: 100%;
    mat-drawer{
        background: var(--bg-aside-color);
        border-color: var(--bg-primary-color);
        background-color: aqua;
        width: 17%;
        
    }
    .drawer-content{
        background-color: var(--bg-body-color);
    }
}

main{
}
