

<section class="ticket-details-with-chart-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <app-apex-chart></app-apex-chart>
            </div>
            <div class="col-sm-4">
                <app-ticket-details></app-ticket-details>
            </div>
        </div>
    </div>
</section>

<section class="filter">
    <div class="container-fluid">
        <app-filter></app-filter>
    </div>
</section>

<section>
    <div class="container-fluid">
        <app-table></app-table>
    </div>
</section>