<!-- <p>dashboard-view1 works!</p> -->

<div class="">

    <div class="row">

        <div class="col-md-6 col-xl-3">  
            <app-card-template  [showCardHeader]="false">
                <ng-container CardContent>
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm rounded">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1">$<span>12,145</span></h3>
                                <p class="text-muted mb-1 text-truncate">Income status</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">Target <span class="float-end">60%</span></h6>
                        <div class="progress progress-sm m-0">
                            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="visually-hidden">60% Complete</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </app-card-template>
        </div> <!-- end col -->

        <div class="col-md-6 col-xl-3">
            <app-card-template  [showCardHeader]="false">
                <ng-container CardContent>
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm rounded">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span>1576</span></h3>
                                <p class="text-muted mb-1 text-truncate">January's Sales</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">Target <span class="float-end">49%</span></h6>
                        <div class="progress progress-sm m-0">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 49%">
                                <span class="visually-hidden">49% Complete</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </app-card-template>
        </div> <!-- end col -->

        <div class="col-md-6 col-xl-3">
            <app-card-template  [showCardHeader]="false">
                <ng-container CardContent>
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm rounded">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1">$<span>8947</span></h3>
                                <p class="text-muted mb-1 text-truncate">Payouts</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">Target <span class="float-end">18%</span></h6>
                        <div class="progress progress-sm m-0">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%">
                                <span class="visually-hidden">18% Complete</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </app-card-template>
        </div> <!-- end col -->

        <div class="col-md-6 col-xl-3">
            <app-card-template  [showCardHeader]="false">
                <ng-container CardContent>
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm rounded">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span>178</span></h3>
                                <p class="text-muted mb-1 text-truncate">Available Stores</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">Target <span class="float-end">74%</span></h6>
                        <div class="progress progress-sm m-0">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 74%">
                                <span class="visually-hidden">74% Complete</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </app-card-template>
        </div> <!-- end col -->
    </div>

    <div class="row mt-3">
        <div class="col-xl-4 col-md-12" #card_0>
            <app-card-template>
                <ng-container CardContentSlotA>
                    <h4 class="header-title mb-0">Lifetime Sales</h4>
                </ng-container>
                <ng-container CardContentSlotB>
                    <div class="card-widgets">
                        <button class="btn" data-bs-toggle="reload"><i class="fa fa-refresh" aria-hidden="true"></i></button >
                        <button class="btn" data-bs-toggle="collapse" href="#cardCollpase1" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="fa fa-minus"></i></button>
                        <button class="btn" appRemoveCard [card]="card_0"><i class="fa fa-close"></i></button>
                    </div>
                </ng-container>
                <ng-container CardContent>
                    <div id="cardCollpase1" class="collapse show">
                        <div class="text-center pt-3">
                            <div id="lifetime-sales" data-colors="#00acc1,#f1556c">
                                <app-chartjs 
                                    [id]="chartJsTypesEnum.bar + 00"  
                                    [type]="chartJsTypesEnum.bar" 
                                    [data]="data"
                                    [options]="options"></app-chartjs>
                            </div>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                                    <h4><i class="fe-arrow-down text-danger me-1"></i>$7.8k</h4>
                                </div>
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                                    <h4><i class="fe-arrow-up text-success me-1"></i>$1.4k</h4>
                                </div>
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                                    <h4><i class="fe-arrow-down text-danger me-1"></i>$9.8k</h4>
                                </div>
                            </div> <!-- end row -->

                        </div>
                    </div> <!-- collapsed end -->
                </ng-container>
            </app-card-template>
        </div> <!-- end col-->

        <div class="col-xl-4 col-md-6" #card_2>
            <app-card-template>
                <ng-container CardContentSlotA>
                    <h4 class="header-title mb-0">Income Amounts</h4>
                </ng-container>
                <ng-container CardContentSlotB>
                    <div class="card-widgets d-flex just">
                        <button class="btn" data-bs-toggle="reload"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                        <button class="btn" data-bs-toggle="collapse" href="#cardCollpase2" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="fa fa-minus"></i></button>
                        <button class="btn" appRemoveCard [card]="card_2" ><i class="fa fa-close"></i></button>
                    </div>
                </ng-container>
                <ng-container CardContent>
                    <div id="cardCollpase2" class="collapse show">
                        <div class="text-center pt-3">

                            <div id="income-amounts" data-colors="#00acc1">
                                <app-chartjs 
                                    [id]="chartJsTypesEnum.bubble+11" 
                                    [type]="chartJsTypesEnum.bubble" 
                                    [data]="data"
                                    [options]="options"></app-chartjs>
                            </div>
                            
                            <div class="row mt-3">
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                                    <h4><i class="fe-arrow-up text-success me-1"></i>641</h4>
                                </div>
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                                    <h4><i class="fe-arrow-down text-danger me-1"></i>234</h4>
                                </div>
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                                    <h4><i class="fe-arrow-up text-success me-1"></i>3201</h4>
                                </div>
                            </div> <!-- end row -->
                        </div>
                    </div> <!-- collapsed end -->
                </ng-container>
            </app-card-template>
        </div>

        <div class="col-xl-4 col-md-6" #card_3>
            <app-card-template>
                <ng-container CardContentSlotA>
                    <h4 class="header-title mb-0">Total Users</h4>
                </ng-container>
                <ng-container CardContentSlotB>
                    <div class="card-widgets">
                        <button class="btn" data-bs-toggle="reload"><i class="fa fa-refresh" aria-hidden="true"></i> </button>
                        <button class="btn" data-bs-toggle="collapse" href="#cardCollpase3" role="button" aria-expanded="false" aria-controls="cardCollpase3"><i class="fa fa-minus"></i></button>
                        <button class="btn" appRemoveCard [card]="card_3" ><i class="fa fa-close"></i></button>
                    </div>
                </ng-container>
                <ng-container CardContent>
                    <div id="cardCollpase3" class="collapse show">
                        <div class="text-center pt-3">
                            <div id="total-users" data-colors="#00acc1,#4b88e4,#e3eaef,#fd7e14">
                                <app-chartjs 
                                    [id]="chartJsTypesEnum.doughnut+22" 
                                    [type]="chartJsTypesEnum.line" 
                                    [data]="data"
                                    [options]="options"
                                    ></app-chartjs>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                                    <h4><i class="fe-arrow-down text-danger me-1"></i>18k</h4>
                                </div>
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                                    <h4><i class="fe-arrow-up text-success me-1"></i>3.25k</h4>
                                </div>
                                <div class="col-4">
                                    <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                                    <h4><i class="fe-arrow-up text-success me-1"></i>28k</h4>
                                </div>
                            </div> <!-- end row -->
                        </div>
                    </div> <!-- collapsed end -->
                </ng-container>
            </app-card-template>

        </div> <!-- end col-->
    </div>
 
    <!-- ========== Start Main Cards ========== -->
    <div class="main-cards">
        <h1>Basic Main Cards </h1>
        <div class="">
            <div class="card">Card</div>
            <div class="card">Card</div>
            <div class="card">Card</div>
        </div>
    </div>
    <!-- ========== End Main Cards ========== -->

    <div class="row ">
        <div class="col-12">
            <div class="card">
                <app-am5-chart></app-am5-chart>
            </div>
        </div>
    </div>

</div>