mat-drawer-container{
    height: 100%;
    mat-drawer{
        background: var(--bg-aside-color);
        border-color: var(--bg-primary-color);
        background-color: aqua;
        width: 17%;
        
    }
    .drawer-content{
        background-color: var(--bg-body-color);
    }
}

// .full-drawer-container{
//     background-color: aqua;
//     mat-drawer-container { flex: 1 1 auto; }
//     .example-sidenav {
//         background-color: red;
//         visibility: unset !important;
//         display: unset !important;
  
//         transform: translate3d(-73%, 0, 0);
//         -webkit-transform: translate3d(-73%, 0, 0);
//         -moz-transform: translate3d(-73%, 0, 0);
//         -ms-transform: translate3d(-73%, 0, 0);
//         -o-transform: translate3d(-73%, 0, 0);
//     }
//     .drawer-content{
//         margin-left: 77px !important;
//         margin-right: unset !important;
//     }
// }
main{
}

// :root :host-context(html[dir="rtl"]) {
//     .full-drawer-container{
//         .example-sidenav {
//             transform: translate3d(69%, 0, 0) !important;
//             -webkit-transform: translate3d(69%, 0, 0) !important;
//             -moz-transform: translate3d(69%, 0, 0) !important;
//             -ms-transform: translate3d(69%, 0, 0) !important;
//             -o-transform: translate3d(69%, 0, 0) !important;
//         }
//         .drawer-content{
//             margin-left: unset !important;
//             margin-right: 77px !important;
//         }
//     }
// }

// .wrapper {
//     background-color: darkgreen;
//     display: grid;
//     grid-template-columns: .7fr 3fr;
//     grid-template-areas:
//       "aside nav"
//       "aside main"
//       "aside footer";
//       min-height: 100%;
//   }
//   nav {
//     grid-area: nav;
//     background-color: antiquewhite;
//     height: 40px;
//   }
//   aside {
//     grid-area: aside;
//     background-color: aquamarine;
//   }
//   main {
//     grid-area: main;
//     background: gold;
//   }
//   footer {
//     grid-area: footer;
//     background-color: crimson;
//   }
