div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-color);
    font-family: var(--font-family-Regular);
    color: var(--text-primary-color);
}