section{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/auth_bg/security_systems.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center ;
}